* {
  padding: 0;
  margin: 0;
}
.wrapper{
  background: #A64DFF;
}
ul{
  height: 40px;
  width: 900px;
  margin: 0 auto;
}
ul li {
  font: Economica;
  font-weight: bold;
  list-style-type: none;
  display: inline-block;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 15px;

}
ul li:hover{
  background: #EEEEEE;
  color: #979897;
}